pytest==7.4.0
pydantic==2.5.3
pytest-asyncio==0.21.0
pytest-cov==4.0.0
polyfactory==2.16.0
Faker==25.2.0
SQLAlchemy-Utils==0.38.3
SQLAlchemy==1.4.48
fastapi
anyio==3.6.2
requests
aiohttp==3.8.4
httpx
